@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
</hgroup>

@section Scripts {
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?sensor=false")
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
            center: new google.maps.LatLng(50.911659, 34.793088),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}

<table>
    <tr>
        <td valign="top">
     <section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        г. Сумы, ул. Шевченко 5
    </p>
</section>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>(0542) 79-38-15<br />
        (067) 230-78-36</p>
</section>

<section class="contact">
    <header>
        <h3>Адрес электронной почты</h3>
    </header>    
    <p>
        <span>unico1203@ukr.net</span>
    </p>
</section>
        </td>

        <td>
            <div id="map_canvas"></div>
        </td>
    </tr>
</table>


