@{
    ViewBag.Title = "Главная";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <table style="width:1200px">
                <tr>
                    <td valign="top" style="width:1000px">
                        <hgroup class="title">
                            <h1>@ViewBag.Title</h1>
                        </hgroup>
                        <p>
                            текст здесь
                        </p>
                    </td>
                    <td>
                        <img src="~/Content/images/cmy_inks.jpg"/>

                    </td>
                </tr>
            </table>
            
            

            
        </div>
    </section>
}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />