@{
    ViewBag.Title = "Главная";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <table style="width:1200px">
                <tr>
                    <td valign="top" style="width:1000px">
                        <hgroup class="title">
                            <h1>Добро пожаловать на OCP!</h1>
                        </hgroup>
                        <p><br/>
OCP является одним из ведущих производителей водорастворимых чернил для заправки картриджей для струйных принтеров.
Компания ОСР производит более 300 видов чернил. Компания не производит универсальные чернила, а только совместимые с определенной моделью принтера. 
Как только ОЕМ создают новые чернила, исследовательский отдел компании создает альтернативный вариант, готовый для продажи.
<br/>
<br/>
Другой особенностью ОСР является тот факт, что компания производит все свои чернила в Германии. Несколько лет назад компания решила создать завод в Китае, но затем отказалась от этой идеи. Почему? Компания отказалась от производства чернил в Китае по простой причине, что подобная затея заставила бы делиться с секретом бизнес процессов и формулами чернил. А это и есть самое большое богатство компании. Вместо инвестиций в создание завода в Китае, компания инвестировала средства в передовое оборудование для своего завода в Германии.
<br/>
<br/>
@Html.ActionLink("Подбор OCP чернил", "Index", "Ocp")
<br/>
@Html.ActionLink("Контакты", "Contact", "Home")
                        </p>
                    </td>
                    <td>
                        <img src="~/Content/images/cmy_inks.jpg"/>
                    </td>
                </tr>
            </table>
            
            

            
        </div>
    </section>
}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />