@{
    ViewBag.Title = "Домашняя страница Руарт";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
                <img src="http://www.ocp.de/images/stories/header/header_home_001.jpg"/>
            
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                текст здесь
            </p>
        </div>
    </section>
}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />