@model Unico.Models.ShoppingCartWidgetModel

<div id="shopingCart">
    @Html.ActionLink("Корзина ("+Model.Count+")", "Index", "ShoppingCart", routeValues: null, htmlAttributes: new { id = "cartLink" })
    @Html.ActionLink("Мои заказы", "Index", "Orders")
</div>